
.bg-img{
  /* background-image: url(/images/hdn.jpg); */

  /* width:1337px; */
  width: 100%;
  height: 400px;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/images/new.jpg');
  -webkit-background-size: cover;
  -moz-background-size:  cover;
  -o-background-size: cover;
   background-size: cover; 
}

.footer{
  background-color: #000000; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  color: #ffffff;
}

.panel{
padding: 10px;
}
.img-panel{
  width: 100%;
}

.panel-footer{
  padding-top: 20px;
}
#title{
  margin-top: -150px;
  margin-bottom: 120px;
}
h1{
  /* font-family: Zapf Chancery, cursive;*/
  text-align: center;
  color: white; 
  /* text-shadow: -1px 0 black, 0 3px black, 3px 0 black, 0 -1px black; */
  font-family: 'Rye', cursive;
  font-size: 68px;
  /* text-shadow: 4px 4px 4px #aaa; */

}
.nav-item {
/* background: black; */
color:white !important;
} 
  
p{
  /* font-family: Zapf Chancery, cursive;*/
  text-align: center;
  color:black; 
  /* text-shadow: -1px 0 black, 0 3px black, 3px 0 black, 0 -1px black; */
  font-family: 'Josefin Slab', serif;
  font-size: 22px;
  margin-top:100px;
  padding:50px;
  /* text-shadow: 4px 4px 4px #aaa; */

}

.row input, .row button{
  padding: 10px;
  border-radius: 5%;
  /* width: 500px */
}
.row form{
 padding-bottom: 10px;
  margin: 0px;
}
.container-fluid{
  padding:0px;
}

.collapse ul li a{
  color: white;
}

.navbar-light .navbar-nav .nav-lin{
  color: white;
}

.navbar-toggler-icon{
  color: white !important;
}
.col-lg-12{
  padding: 0px;
}
.address{
  background-color:lightgrey;
  color:rgb(77, 77, 77);
  font-family: 'Roboto', sans-serif;
  margin-top:50px;
  padding: 2px 0px 20px 0px;
}
.form-inline{
  margin-top: 0px;
}
.footer{
  color:white;
  font-family:'Roboto', sans-serif ;
  margin-top:0px;
  font-size: 18px;

}
#link{
  margin-left:50px; ;
}
.foodimg{
  width: 100%;
  /* margin-top:120px; */
  /* margin-left: 50px; */
  margin-bottom: 20px;
  
}
#contactUs{
  /* background:#191970; */
  padding-top:20px;

}
.contact{
  margin-top: 50px;
}
.loc{
  margin: 40px;
}
.orderimg{
  height:100%;
  width:100%;
  margin-bottom: 50px;
}
.para{
  margin: 0px;
}
.panel-row{
  margin-top: 100px;
}
.orderBack{
  background-color: #000000;
  color:white;
  margin-bottom: 20px;
}
.card{
  height:250px;
}